---
import Item from '~/components/portfolio/PortfolioItem.astro';

const { portfolios } = Astro.props;
---

<ul>
	{
		portfolios.map((portfolio) => (
			<li class="mb-10 md:mb-16">
				<Item post={portfolio} />
			</li>
		))
	}
</ul>
