---
import { Icon } from 'astro-icon';
import Picture from '~/components/core/Picture.astro';
---

<section>
	<div class="max-w-6xl mx-auto px-4 sm:px-6">
		<div class="py-12 md:py-20">
			<div class="text-center pb-10 md:pb-16">
				<h1 class="text-5xl md:text-[3.50rem] font-bold leading-tighter tracking-tighter mb-4 font-heading">
					<span class="bg-clip-text text-transparent bg-gradient-to-r from-secondary-600 to-primary-600">Hello World!</span> 👋 
				</h1>
				<h1 class="text-5xl md:text-[3.50rem] font-bold leading-tighter tracking-tighter mb-4 font-heading">
					I'm Jesus and I'm an iOS Developer
				</h1>
				<div class="max-w-3xl mx-auto">
					<p class="text-xl text-gray-600 mb-8 dark:text-slate-400">
						Out of interest for programming and videogames I studied Games Programming in London finishing in 2019. Since the iPhone 3, I had a huge interest into developing applications for Apple Devices.
					</p>
					<p class="text-xl text-gray-600 mb-8 dark:text-slate-400"> 
						Now I spend my days coding in Swift and building amazing applications.
					</p>
					<p class="text-xl text-gray-600 mb-8 dark:text-slate-400">
						Happy Coding!
					</p>
				</div>
			</div>
			<div>
				<div class="relative mb-8 m-auto max-w-3xl">
					<Picture
						src={import('~/assets/images/apple_dev.png')}
						class="mx-auto rounded-md shadow-lg bg-gray-400 dark:bg-slate-700 w-full"
						widths={[400, 767]}
						sizes=" (max-width: 767px) 400px, 768px"
						alt="Jesus Sanz Avatar"
						aspectRatio="16:9"
					/>
				</div>
			</div>
		</div>
	</div>
</section>
